<!doctype html>
<html ng-app="todoApp">
    <head>
        <link href="css/main.css" rel="stylesheet" />
        <title>My HTML File</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
        
        <!-- Controllers -->
        <script src="controllers/controllers.js"></script>
    </head>

    <body>
        <div ng-controller="TodoListCtrl">
            <h3> To Do List </h3>
            <p> {{today | date:'dd / MM.yyyy'}} </p>

            <input type="button" value="New task" ng-click="addFormVis = true"
                ng-init="addFormVis = addFormVis ? 'true' : 'false' ">
            <p> {{ addFormVis }} </p>

            <form class="formForAddTodo"
                    ng-class="{'formForAddTodoVisible' : addFormVis == true, 'formForAddTodoNone' : addFormVis == false }">
                <p> Name: </p>
                <input type="text" id="todoName" placeholder="Enter name">
                <p> Deadline: </p>
                <input type="date" id="todoDate" placeholder="Enter date">
                <p> Priority: </p>
                <input type="number" id="todoPriority" placeholder="Enter priority">
                <p> Description: </p>
                <input type="text-area" id="todoDescription" placeholder="Enter date">

                <input type="button" value="Cancel" ng-click="addFormVis = false">
                <input type="button" value="Add new task" ng-click="addNew()" ng-mouseup="addFormVis = false">

            </form>
            <div class="todoDesk">
                
           <!--  <input type="text" ng-model="search"> -->
                <ul class="todoColomn"> 
                    <h4> To Do </h4>

                    <li ng-repeat="todoColItem in todoCol |  filter:'todo'">
                        <h5> {{todoColItem.name}} </h5>
                        <p> Status: {{todoColItem.status}} </p>                 <!-- надо скрыть -->
                        <p> Priority: {{ todoColItem.priority }} </p>
                        <p> Registered:{{ Date.parse("todoColItem.id") }} </p>
                        <p> Time in progress {{ today | date}} </p>
                        <p> Time left: {{  }} </p>
                        <p> Description: {{todoColItem.about}}</p>
                        <p> Id: {{todoColItem._id}} </p>                        <!-- надо скрыть -->
                        <input type="button" value="Move on" ng-click="moveRight(todoColItem.status)">
                    </li>
                </ul>

                <ul class="inProgressColomn"> 
                    <h4> In progress </h4>
                    <li ng-repeat="todoColItem in todoCol |  filter:'inprogress'">
                        <h5> {{todoColItem.name}} </h5>
                        <p> {{todoColItem.status}} </p>
                        <p> Priority: {{ todoColItem.priority }} </p>
                        <p> Registered:{{ Date.parse("todoColItem.id") }} </p>
                        <p> Time in progress {{ today | date}} </p>
                        <p> Time left: {{  }} </p>
                        <p> Description: {{todoColItem.about}}</p>
                        <p> Id: {{todoColItem._id}} </p>               
                        <input type="button" value="Back down" ng-click="moveLeft(todoColItem.status)"> 
                        <input type="button" value="Move on" ng-click="moveRight(todoColItem.status)">
                    </li>
                </ul>

                <ul class="testColomn"> 
                    <h4> Test </h4>
                    <li ng-repeat="todoColItem in todoCol |  filter:'test'">
                        <h5> {{todoColItem.name}} </h5>
                        <p> {{todoColItem.status}} </p>
                        <p> Priority: {{ todoColItem.priority }} </p>
                        <p> Registered:{{ Date.parse("todoColItem.id") }} </p>
                        <p> Time in progress {{ today | date}} </p>
                        <p> Time left: {{  }} </p>
                        <p> Description: {{todoColItem.about}}</p>
                        <p> Id: {{todoColItem._id}} </p>               
                        <input type="button" value="Back down" ng-click="moveLeft(todoColItem.status)"> 
                        <input type="button" value="Move on" ng-click="moveRight(todoColItem.status)">
                    </li>
                </ul>

                <ul class="doneColomn"> 
                    <h4> Done </h4>
                    <li ng-repeat="todoColItem in todoCol |  filter:'done'">
                        <h5> {{todoColItem.name}} </h5>
                        <p> {{todoColItem.status}} </p>
                        <p> Priority: {{ todoColItem.priority }} </p>
                        <p> Registered:{{ Date.parse("todoColItem.id") }} </p>
                        <p> Time in progress {{ today | date}} </p>
                        <p> Time left: {{  }} </p>
                        <p> Description: {{todoColItem.about}}</p>
                        <p> Id: {{todoColItem._id}} </p>               
                        <input type="button" value="Back down" ng-click="moveLeft(todoColItem.status)"> 
                        <input type="button" value="Done and remove" ng-click="moveRight(todoColItem.status)">
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
